<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>ADB</title>
		<meta name="description" content="ADB">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<link rel="stylesheet" href="/styles/style.css">
		<link rel="author" href="humans.txt" />
			<!--[if lt IE 9]>
			<![endif]-->
	</head>
	<body>

  	{{{body}}}

		<script src="/js/libs.js"></script>
		<script src="/js/index.js"></script>
	</body>
</html>