
<audio src="https://dl.dropboxusercontent.com/u/40156427/A4%20-%20SPECIFIC%20PACIFIC.mp3" loop></audio>
<div id="wrap">

<header>
		<div class="right">
				<p><strong>SOFT POWER</strong><br/>
						<i>&quot;If You Come Around:<br/>
						You Know What Happens&quot;</i> 12<br/>
						<strong>-------------------------</strong><br/>
				</p>
				<p>
						<span style="text-decoration:underline;">ABD. A. 2</span><br/>
						December 2013<br/>
						<p>Photo: <a href="http://charliehillhouse.com/">Charlie Hillhouse</a></p>
				</p>
		</div>
		<div class="main right">
				<h1>ALL DAY BREAKFAST ENTERPRISES</h1>
				<div class="content">
						<marquee>The soundtrack is Soft Power's 'Specific Pacific', as featured on the If you come around: you know what happens 12" (ADB.A.2) The soundtrack is Soft Power's 'Specific Pacific', as featured on the If you come around: you know what happens 12" (ADB.A.2)</marquee>
				</div>
		</div>

</header>
<div id="push"></div>
</div><!-- end wrap -->

<footer>

	<div class="left">
		<p><strong>ALL DAY BREAKFAST ENTERPRISES</strong><br/>
		<strong>-----------------------------</strong><br/>
		</p>

		<ul class="linx hidden">
			<li><a href="http://alldaybreakfastenterprises.bandcamp.com" name="alldaybreakfastenterprises.bandcamp.com">*</a></li>
			<li><a href="http://soundcloud.com/alldaybreakfast" name="soundcloud.com/alldaybreakfast">*</a></li>
			<li><a href="http://thealldaybreakfast.tumblr.com" name="thealldaybreakfast.tumblr.com">*</a></li>
						<li><a href="mailto:alldaybreakfastenterprises@gmail.com" name="alldaybreakfastenterprises@gmail.com">*</a></li>
		</ul>
	</div>
		<div id="logobox">
				<img src="/images/ADB-logo-scan-802.png" />
		</div>
</footer>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<script>
		/*(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
		function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
		e=o.createElement(i);r=o.getElementsByTagName(i)[0];
		e.src='//www.google-analytics.com/analytics.js';
		r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
		ga('create','UA-XXXXX-X');ga('send','pageview');
	*/




</script>
