
<audio src="https://dl.dropboxusercontent.com/u/40156427/A4%20-%20SPECIFIC%20PACIFIC.mp3" loop></audio>
<div id="wrap">

<header>
		<div class="right">
				<p><strong>SOFT POWER</strong><br/>
						<i>&quot;If You Come Around:<br/>
						You Know What Happens&quot;</i> 12<br/>
						<strong>-------------------------</strong><br/>
				</p>
				<p>
						<span class="underline">ABD. A. 2</span><br/>
						December 2013<br/>
						<p>Photo: <a href="http://charliehillhouse.com/">Charlie Hillhouse</a></p>
				</p>

				<ul class="linx">
				<li><a href="http://alldaybreakfastenterprises.bandcamp.com" name="alldaybreakfastenterprises.bandcamp.com">*</a></li>
				<li><a href="http://soundcloud.com/alldaybreakfast" name="soundcloud.com/alldaybreakfast">*</a></li>
				<li><a href="http://thealldaybreakfast.tumblr.com" name="thealldaybreakfast.tumblr.com">*</a></li>
				<li><a href="mailto:alldaybreakfastenterprises@gmail.com" name="alldaybreakfastenterprises@gmail.com">*</a></li>
			</ul>
		</div>
		<div class="main right">
				<h1>ALL DAY BREAKFAST ENTERPRISES</h1>
				<div class="content">
						<marquee>The soundtrack is Soft Power's 'Specific Pacific', as featured on the If you come around: you know what happens 12" (ADB.A.2) The soundtrack is Soft Power's 'Specific Pacific', as featured on the If you come around: you know what happens 12" (ADB.A.2)</marquee>
				</div>
		</div>

</header>

<div id="push"></div>
</div><!-- end wrap -->

<footer>

	<div id="logobox">
		<a href="/"><img src="/images/ADB-logo-scan-804.png" /></a>
	</div>
</footer>
