html {
  height: 100%;
}

body {
  background: transparent;
  font-family: Helvetica, Arial, sans-serif;
  color: #333;
  height: 100%;
  font-size: 12px;
  color: rgb(217, 40, 40);
}

header {
	min-height: 500px;
}

a {
	text-decoration: underline;
	color: rgb(217, 40, 40);
}

a:hover {
	color: blue;
}

#logobox {
	padding-right: 10px;
  float: right;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -100px;
  }

footer {
  height: 100px;
}

.left {
	padding: 10px;
	float: left;
}

.right {
	padding: 10px;
	float: right;
	text-align: right;
}

h1, h3 {
  color: rgb(217, 40, 40);
  font-size: 12px;
}

ul {
  list-style: none;
  padding-left: 0;
  margin-left:  0;
}

.main {
  margin-right: 200px;
  width: 570px;
}

.content {
  width:500px;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  font-size: 1.8rem;
  height: 140px;
  text-align: left;
  margin-left: 20px;
}

.main h1 {
  font-size: 3rem;
  font-weight: normal;
}

.footer {
  margin-right: 100px;
  width: 650px;
}

.footer h1 {
  font-weight: normal;
  margin-top: 4px;
  font-size: 2rem;
}

.footer__content {
  width:550px;
  white-space: nowrap;
  overflow: auto;
  overflow-y: hidden;
  font-size: 1.8rem;
  height: 140px;
  text-align: right;
  float: right;
}

.underline {
  text-decoration:underline;
}

.image__hider {
  display: none;
}

.player_middle {
  margin:0 auto;
  width:480px;
  margin-top:150px;
}
